{% extends "layout.html" %}
    {% block body %}
    <h2>Home Page</h2>
        <h1>{{ welcomename }}</h1>
        <h1>{{ userkcal }}</h1>
        <h1>{{ userkcalconsumed }}</h1>

        {% for i in users %}
            <p>Name: {{ i.fname }} {{ i.sname }}</p>
            <p>Calorie Goal: {{ i.kcalaim }}</p> 
            <form action="{{ url_for('delete', id=i.id) }}">
                <button type = "Submit">Delete User</button> <br>
            </form>
            <form action="{{ url_for('update', id=i.id) }}">
                <button type = "Submit">Update User</button> <br>
            </form>

        {% endfor %}    


            {% for i in all_meals_user %}
            <p>Meal: {{ i.mealname }}</p>
            <p>Calories in meal: {{ i.kcal }}</p> 
            <form action="{{ url_for('deletemeal', id=i.id) }}">
                <button type = "Submit">Delete Meal</button> <br>
            </form>
            <form action="{{ url_for('updatemeal', id=i.id) }}">
                <button type = "Submit">Update Meal</button> <br>
            </form>
            
        {% endfor %}

    {% endblock body %}
