{% extends "layout.html" %}
    {% block body %}
        {% for i in users %}
            <p>Name: {{ i.fname }} {{ i.sname }}</p>
            <p>Calorie Goal: {{ i.kcalaim }}</p> 
            <form action="{{ url_for('delete', id=i.id) }}">
                <button type = "Submit">Delete User</button> <br>
            </form>
            <form action="{{ url_for('update', id=i.id) }}">
                <button type = "Submit">Update User</button> <br>
            </form>

        {% endfor %}    

    {% endblock body %}
